.btn-ghostPurple {
  padding: 16px 28px;
  font-family: "Poppins";
  font-weight: 600;
  border-radius: 12px;
  color: #5a4fcf;
  background-color: rgba(90, 79, 207, 10%);
  border: none;
}

.btn-ghostPurple:hover,
.btn-ghostPurple:focus {
  background-color: rgba(90, 79, 207, 30%);
  color: #5a4fcf;
}

.btn-ghostPurple:focus {
  box-shadow: 0 1px 0 rgba(90, 79, 207, 10%), 1px 1px rgba(90, 79, 207, 10%);
}

.btn-ghostPurple > * {
  pointer-events: none;
}
