.AdsSection {
  position: relative;
  margin-bottom: 120px;
}

.AdsSection .ads__bgImg {
  position: relative;
  width: 100%;
  height: 560px;
  overflow: hidden;
  border-radius: 24px;
  transition: all 0.5s ease-in-out;
}

.AdsSection .ads__bgImg img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.AdsSection .ads__restoInfo {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-25%, -50%);
  background: #fff;
  border-radius: 12px;
  opacity: 0;
  transition: all 0.75s ease-in-out;
}

.AdsSection .swiper-slide.swiper-slide-active .ads__bgImg {
  width: calc(100% - 80px);
  margin-left: 80px;
}

.AdsSection .swiper-slide.swiper-slide-active .ads__restoInfo {
  opacity: 1;
  transform: translate(0%, -50%);
}
