.restoInfo {
  position: relative;
  background: #fff;
  border-radius: 12px;
  padding: 24px;
  border: none;
  transition: all 0.25s ease-in-out;
}

.restoInfo__section {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 4px;
}

.restoInfo__rating {
  color: #ffb800;
  font-size: 16px;
}

.restoInfo__rating span {
  margin-left: 4px;
}

.restoInfo__reviewed {
  color: #655656;
  font-size: 16px;
  font-weight: 400;
}

.restoInfo__rating-loading {
  width: 20px;
  height: 20px;
  background: #ffb800;
  border-radius: 12px;
  margin-bottom: 4px;
}

.restoInfo__name {
  color: #232631;
}

.restoInfo__name-loading {
  background: #232631;
  border-radius: 12px;
  width: 200px;
  height: 20px;
  opacity: 0.5;
  margin-bottom: 4px;
}

.restoInfo__priceRange {
  color: #656565;
}

.restoInfo__priceRange-loading {
  background: #656565;
  border-radius: 12px;
  width: 250px;
  height: 20px;
  opacity: 0.5;
}

.restoInfo__loc {
  color: #656565;
  font-weight: 400;
}

.restoInfo.lean {
  opacity: 0;
}

.restoInfo.complete {
  width: 390px;
}

.restoInfo.complete .restoInfo__next {
  display: none;
}

.restoInfo .restoInfo__reservation {
  margin-top: 34px;
}

.restoInfo .restoInfo__reservation-cost {
  margin-top: 12px;
}
